p {
	font-size: 15px;
}

#batch {
	color: #FFF;
	
}

body {
	background-color: #eee;
	font-family: Lato;
}

#ingredients {
	font-style: italic;
	font-size: 18px;
}

#number_field {
	width: 50px;
}

.pb-cmnt-container {
	margin-top: 100px;
}

.pb-cmnt-textarea {
	resize: none;
	padding: 20px;
	height: 130px;
	width: 100%;
	border: 1px solid #F2F2F2;
}